/* Global rules START */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*::selection {
  background-color: var(--main-color);
  color: black;
}

:root {
  --main-color: #2196f3;
  --main-color-hover: #41aaff;
  --second-color: rgb(122, 122, 122);
  --footer-color: rgb(187, 187, 187);
  --section-background: #ececec;
  --main-transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Global rules END */

/* Global animation START */
@keyframes button-before {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 0;
  }
}

/* Global animation END */

.none {
  height: 70px;
  display: block;
}

/* Header START */
header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  z-index: 10;
}

header .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  color: var(--main-color);
  font-weight: bold;
  font-size: 25px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

header .nav {
  display: flex;
}

header ul .nav-a {
  display: flex;
  height: 70px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: 300px;
  color: black;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  cursor: pointer;
}

header ul .nav-a::before {
  content: "";
  background-color: var(--main-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: -100%;
  top: 0px;
  transition: var(--main-transition);
}

header ul .nav-a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

header ul .nav-a:hover::before {
  left: 0px;
}

.header-icon {
  color: black;
}

header .nav .header-icon {
  padding-right: 10px;
}

header ul .nav-a:hover .header-icon {
  color: var(--main-color);
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    height: 45px;
  }

  header ul .nav-a {
    padding: 8px;
    font-size: 14px;
    height: 40px;
  }

  header .nav {
    margin: 0 auto;
  }

  header {
    height: fit-content;
    display: flex;
    justify-content: center;
  }
}

/* Header END */

/* Other Links START */
header .nav .other:hover .other-links {
  top: 100%;
  display: flex;
}

.other-links {
  width: 100%;
  height: 350px;
  justify-content: space-around;
  padding: 20px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  border-top: 1px solid #ddd;
  left: 0;
  transition: var(--main-transition);
  position: absolute;
  top: calc(100% + 70px);
  display: none;
  z-index: 1;
}

.other-links img {
  margin: auto;
}

.links {
  display: flex;
  width: 50%;
  height: 85%;
  margin: auto;
  justify-content: space-between;
}

.links ul {
  width: 47%;
}

.links ul li {
  display: flex;
  height: calc(100% / 5);
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  position: relative;
  cursor: pointer;
}

.links ul li:last-child {
  border-bottom: none;
}

.links ul li::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: var(--main-transition);
}

.links ul li:hover::before {
  opacity: 1;
  width: 100%;
}

.links ul li p {
  color: var(--main-color);
  font-size: 18px;
  font-weight: bold;
  transition: var(--main-transition);
}

.links ul li i {
  padding-left: 10px;
}

.links ul li:hover .links-p {
  color: var(--main-color-hover);
}

.links ul li:hover .fa-brands {
  color: var(--main-color-hover);
}

.links ul li:hover .fa-solid {
  color: var(--main-color-hover);
}

.other-links .links ul .fa-brands,
.other-links .links ul .fa-solid {
  color: var(--main-color);
  padding-right: 10px;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .links {
    width: 60%;
  }

  .other-links img {
    max-width: 400px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .other-links img {
    display: none;
  }

  .other-links {
    width: 100%;
    padding-bottom: 0;
    height: 300px;
  }

  .links {
    width: 90%;
    margin: 0;
    height: 95%;
  }
}

@media (max-width: 767px) {
  .other-links img {
    display: none;
  }

  .other-links {
    padding: 0;
    height: fit-content;
    width: 100vh;
    left: 0;
  }

  .links {
    display: block;
    width: 100%;
    margin: 0;
  }

  .links ul li {
    width: 100vw;
    font-size: 30px;
    padding: 15px;
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  header .container {
    position: relative;
  }
}

/* Other Links END */

/* Section One START */
.section-one {
  display: flex;
  align-items: center;
  height: calc(100vh - 70px);
  position: relative;
  overflow: hidden;
}

.section-one::before {
  content: "";
  background-color: #ececec;
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -2;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.section-one .container {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.section-one .text {
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-one .container {
    justify-content: center;
  }

  .section-one .text {
    width: 100%;
  }
}
.section-one h1 {
  color: var(--main-color);
  animation: p-move 1.5s forwards ease-in-out;
  font-size: 2.3rem;
}

.section-one p {
  color: var(--second-color);
  transform: translateX(-100%);
  font-size: 1.2rem;
}

.section-one p:last-child {
  opacity: 0.7;
}

.section-one .p-1 {
  animation: p-move 1.5s 1.5s forwards ease-in-out;
}

.section-one .p-2 {
  animation: p-move 0.7s 3s forwards ease-in-out;
}

.section-one .start-date {
  animation: p-move 0.5s 3.7s forwards ease-in-out;
  font-size: 0.8rem;
}

@keyframes p-move {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.section-one img {
  position: absolute;
  width: 600px;
  animation: up-and-down-large 4s linear infinite;
  right: 0px;
  z-index: -1;
}

.section-one .fa-chevron-down {
  color: var(--main-color);
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 1;
  animation: arrow-down-animation 2s infinite;
}

@media (max-width: 991px) {
  .section-one img {
    position: absolute;
    right: -50px;
    bottom: 270px;
    opacity: 0.9;
    z-index: -1;
    animation: up-and-down-medium 5s linear infinite;
  }
}

@media (max-width: 768px) {
  .section-one .fa-chevron-down {
    bottom: 250px;
    font-size: 40px;
  }

  .section-one img {
    width: 100%;
    position: absolute;
    right: -30px;
    bottom: 240px;
  }

  .section-one h1 {
    font-size: 26px;
  }

  .section-one .p {
    font-size: 14;
    line-height: 25px;
  }

  .start-date {
    font-size: 10px;
  }

  .text {
    text-align: center;
  }

  .section-one .container {
    justify-content: center;
  }
}

@media (max-height: 570px) {
  .section-one img {
    animation: up-and-down-very-small 4s linear infinite;
  }
}

@media (min-width: 768px) {
  .section-one::after {
    content: "";
    background-color: rgb(214, 214, 214);
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: -3;
    transform: skewY(-3deg);
    transform-origin: top left;
  }
}

@media (max-width: 992px) {
  .fa-chevron-down {
    animation: arrow-down-animation-phone 2s infinite;
  }
}

@keyframes up-and-down-large {
  0%,
  100% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: 50px;
  }
}

@keyframes up-and-down-medium {
  0%,
  100% {
    bottom: 270px;
  }

  50% {
    bottom: 320px;
  }
}

@keyframes up-and-down-small {
  0%,
  100% {
    bottom: 240px;
  }

  50% {
    bottom: 290px;
  }
}

@keyframes up-and-down-very-small {
  0%,
  100% {
    bottom: 150px;
  }

  50% {
    bottom: 180px;
  }
}

@keyframes arrow-down-animation {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    bottom: 35px;
  }

  40%,
  60% {
    bottom: 20px;
  }
}

@keyframes arrow-down-animation-phone {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    bottom: 170px;
  }

  40%,
  60% {
    bottom: 150px;
  }
}

/* Section One END */

/* Section Two START */
.section-two {
  position: relative;
  padding-top: 200px;
  margin-top: 100px;
}

.section-two .container {
  display: flex;
  justify-content: center;
}

.section-two .articles-button {
  display: flex;
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 80px;
}

.section-two .articles-button::before {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.section-two .articles-button::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.section-two .articles-button:hover::before {
  animation: button-before 0.5s linear forwards;
}

.section-two .articles-button:hover::after {
  animation: button-after 0.5s linear forwards;
}

.section-two .articles-button:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}

.container .cards-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.section-two .card {
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
  background-color: white;
}

.section-two .card:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}

.section-two .card:hover .fa-circle-arrow-right {
  animation: cards-arrow-right 0.7s linear infinite;
}

.section-two .card img {
  width: 100%;
}

.section-two .card h3,
.section-two .card p {
  margin: 0;
  padding: 10px 20px;
  line-height: 1.5;
}

.section-two .card p {
  color: var(--secound-color);
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.section-two .card h3 {
  padding: 10px 20px 0 20px;
}

.section-two .card a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-two .card .read-more {
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
  border-bottom: 0;
}

.section-two .fa-circle-arrow-right {
  color: var(--main-color);
  padding-right: 20px;
  font-size: 15px;
}

@keyframes button-after {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }

  100% {
    width: 100%;
    height: 100%;
    right: 0;
    border-radius: 0;
  }
}

@keyframes cards-arrow-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(10px);
  }
}

/* Section Two END */

/* Gallary START */
.gallary-section {
  padding-top: 200px;
  padding-bottom: 100px;
  margin-top: 100px;
  position: relative;
  background-color: var(--section-background);
}

.gallary-section .container {
  display: flex;
  justify-content: center;
}

.gallary-section .gallary-button {
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 80px;
  z-index: 1;
}

.gallary-section .gallary-button::before {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.gallary-section .gallary-button::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.gallary-section .gallary-button:hover::before {
  animation: button-before 0.5s linear forwards;
}

.gallary-section .gallary-button:hover::after {
  animation: button-after 0.5s linear forwards;
}

.gallary-section .gallary-button:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}

.images-place {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
}

.image-box {
  overflow: hidden;
  border: 15px solid white;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.image-box img {
  width: 100%;
  transition: var(--main-transition);
}

.image-box img:hover {
  transform: rotate(5deg) scale(1.1);
}

/* Gallary END */

/* Features START */
.features-section {
  padding-top: 200px;
  padding-bottom: 100px;
  margin-top: 100px;
  position: relative;
}

.features-section .container {
  display: flex;
  justify-content: center;
}

.features-section .features-button {
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 80px;
  z-index: 1;
}

.features-section .features-button::before {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.features-section .features-button::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.features-section .features-button:hover::before {
  animation: button-before 0.5s linear forwards;
}

.features-section .features-button:hover::after {
  animation: button-after 0.5s linear forwards;
}

.features-section .features-button:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}

.features-section .cards-place {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.features-section .card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid #ddd;
}

.features-section .card img {
  width: 100%;
}

.features-section .card .img-div {
  width: 100%;
  position: relative;
}

.features-section .card .img-div::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  z-index: 2;
}

.features-section .card .img-1::before {
  background-color: rgb(255, 63, 57);
}

.features-section .card .img-2::before {
  background-color: rgb(54, 155, 141);
}

.features-section .card .img-3::before {
  background-color: rgb(32, 163, 250);
}

.features-section .card h1 {
  font-size: 38px;
  padding-bottom: 15px;
}

.features-section .card .h1-1 {
  border-bottom: 5px solid rgb(255, 63, 57);
}

.features-section .card .h1-2 {
  border-bottom: 5px solid rgb(54, 155, 141);
}

.features-section .card .h1-3 {
  border-bottom: 5px solid rgb(32, 163, 250);
}

.features-section .card p {
  text-align: center;
  line-height: 2;
  font-size: 20px;
  color: var(--second-color);
  padding: 0 15px 10px 15px;
}

.features-section .card .more-button {
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  transition: var(--main-transition);
}

.features-section .card .more-button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--main-transition);
  z-index: -1;
}

.features-section .card .more-button-1::before {
  background-color: rgb(255, 63, 57);
}

.features-section .card .more-button-2::before {
  background-color: rgb(54, 155, 141);
}

.features-section .card .more-button-3::before {
  background-color: rgb(32, 163, 250);
}

.features-section .card:hover .more-button::before {
  width: 100%;
}

.features-section .card:hover .more-button {
  color: white;
}

.features-section .card .more-button-1 {
  border: 3px solid rgb(255, 63, 57);
  color: rgb(255, 63, 57);
}

.features-section .card .more-button-2 {
  border: 3px solid rgb(54, 155, 141);
  color: rgb(54, 155, 141);
}

.features-section .card .more-button-3 {
  border: 3px solid rgb(32, 163, 250);
  color: rgb(32, 163, 250);
}

/* Features END */

/* Testimonials START */
.testimonials-section {
  background-color: var(--section-background);
  padding-top: 200px;
  padding-bottom: 100px;
  position: relative;
}

.testimonials-section .container {
  display: flex;
  justify-content: center;
}

.testimonials-section .testimonials-button {
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 80px;
  z-index: 1;
}

.testimonials-section .testimonials-button::before {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.testimonials-section .testimonials-button::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.testimonials-section .testimonials-button:hover::before {
  animation: button-before 0.5s linear forwards;
}

.testimonials-section .testimonials-button:hover::after {
  animation: button-after 0.5s linear forwards;
}

.testimonials-section .testimonials-button:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}

.testimonials-section .cards-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 100%;
}

.testimonials-section .card {
  background-color: white;
  border-radius: 7px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

.testimonials-section .card img {
  position: absolute;
  top: 0;
  right: -10px;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 100px;
  border: 10px solid var(--section-background);
}

.testimonials-section .card h3 {
  margin-bottom: 0;
}

.testimonials-section .card .fa-star {
  color: rgb(255, 202, 28);
  margin-left: 5px;
}

.testimonials-section .card .fa-star:first-child {
  margin-left: 0;
}

.testimonials-section .card p {
  color: var(--second-color);
  margin-top: 10px;
}

.testimonials-section .card .main-text {
  line-height: 1.5;
}

/* Testimonials END */

/* Team Members START */
.team-members-section {
  padding-bottom: 30px;
}

.team-members-section {
  position: relative;
  padding-top: 200px;
  margin-top: 100px;
}

.team-members-section .container {
  display: flex;
  justify-content: center;
}

.team-members-section .team-members-button {
  display: flex;
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 12px;
  position: absolute;
  top: 80px;
}

.team-members-section .team-members-button::before {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.team-members-section .team-members-button::after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}

.team-members-section .team-members-button:hover::before {
  animation: button-before 0.5s linear forwards;
}

.team-members-section .team-members-button:hover::after {
  animation: button-after 0.5s linear forwards;
}

.team-members-section .team-members-button:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}

.team-members-section .container .cards-box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.team-members-section .card {
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.team-members-section .card::before {
  content: "";
  height: 100%;
  width: calc(100% - 60px);
  background-color: var(--section-background);
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
  z-index: -2;
}

.team-members-section .card::after {
  content: "";
  height: 100%;
  width: 0;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #ddd;
  transition: var(--main-transition);
}

.team-members-section .card:hover::after {
  width: calc(100% - 60px);
}

.team-members-section .card:hover .img-icons img {
  filter: grayscale(100%);
}

.team-members-section .card .img-icons {
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 50px;
}

.team-members-section .card .img-icons .icons-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60px;
}

.team-members-section .card .img-icons img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
  position: relative;
}

.team-members-section .card .img-icons .icons-box i {
  color: var(--second-color);
  padding-top: 30px;
}

.team-members-section .card .img-icons .icons-box a {
  width: 60px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-members-section .card .icons-box a:hover i {
  color: var(--main-color);
}

.team-members-section .card h2,
.team-members-section .card p {
  padding-left: 75px;
}

.team-members-section .card h2 {
  color: var(--main-color);
}

.team-members-section .card p {
  font-weight: 300;
}

/* Team Members END */

/* footer START */
footer {
  background-color: #1b1b1b;
  overflow: hidden;
}

footer .main-div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 50px 0 50px 0;
}

footer h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
}

.social-divs {
  display: flex;
  flex-direction: row;
}

.social-divs a {
  width: 50px;
  height: 50px;
  background-color: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: var(--main-transition);
}

.social-divs a:hover {
  background-color: rgb(0, 152, 212);
  cursor: pointer;
}

.social-divs a:first-child:hover {
  background-color: rgb(0, 69, 160);
}

.social-divs a:last-child:hover {
  background-color: rgb(160, 0, 0);
}

.footer-social {
  color: var(--footer-color);
  font-size: 20px;
}

footer .div-1 p {
  color: var(--footer-color);
  font-size: 16px;
  line-height: 2;
}

footer .div-2 div a {
  display: flex;
  align-items: center;
  position: relative;
  left: 0;
  transition: var(--main-transition);
}

footer .div-2 div {
  border-bottom: 1px solid rgb(107, 107, 107);
}

footer .div-2 div:last-child {
  border: none;
}

footer .div-2 div a:hover {
  left: 10px;
}

footer .div-2 div a:hover p {
  color: white;
}

footer .div-2 div a i {
  padding-right: 5px;
  color: var(--main-color);
}

footer .div-2 div a p {
  color: var(--footer-color);
}

footer .div-3 div {
  padding-bottom: 20px;
}

footer .div-3 div {
  display: flex;
  align-items: center;
}

footer .div-3 div:last-child {
  align-items: stretch;
}

footer .div-3 div i {
  color: var(--main-color);
  padding-right: 15px;
  font-size: 25px;
}

footer .div-3 div p {
  color: var(--footer-color);
  font-size: 16px;
}

footer .div-3 div div {
  display: flex;
  flex-direction: column;
}

footer .div-3 div div p {
  margin: 0;
}

footer .div-3 div div p:last-child {
  padding-top: 5px;
}

footer .div-4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(250px / 3.5), 1fr));
  gap: 6px;
  height: fit-content;
}

footer .div-4 img {
  width: 100%;
  position: relative;
  z-index: 9;
}

footer .last-div {
  font-size: 20px;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

footer .last-div:before {
  content: "";
  background-color: rgb(63, 63, 63);
  width: 100vw;
  height: 1px;
  position: absolute;
  top: 0;
}

footer .last-div a {
  position: absolute;
  left: 0;
  background-color: #303030;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--second-color);
  transition: var(--main-transition);
}

footer .last-div a:hover {
  color: var(--main-color);
  background-color: #383838;
}

footer .last-div a:hover i {
  animation: last-arrow 2s infinite;
  position: relative;
}

@keyframes last-arrow {
  0%,
  20%,
  35%,
  50% {
    top: 0;
  }

  25%,
  40% {
    top: -7px;
  }
}

/* footer END */

/* MADE BY ME */
